/node_modules

/temp
/tmp
/build
/.build

/docker/data
docker-compose.local.yml

/public/assets
/public/vendor
/public/hot
/public/storage
/public/adm-assets/
/public/js/
/public/css/
/public/images/
/public/img/
/public/fonts/
/public/mix-manifest.json
/packages/*
/public/swagger/
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/.ppm

npm-debug.log
yarn-error.log

.env
.phpunit.result.cache

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

.DS_Store
